<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JavaScript_in_Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB5DF1EA1E6FECF50003849F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB5DF1FE1E6FECF50003849F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB5DF2091E6FECF50003849F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
